.footerContainer {
    padding: 2rem;
    background: #3c93bfd4;
    display: flex;
    align-items: center;
}
  
.footerText {
    color: #fff;
    font-size: 1rem;
}

.footerTextContainer{
    width: 50%;
    display: flex;
    justify-content: center;
}

.footerIconsContainer {
    width: 50%;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.footerIcons {
    gap: 10px;
    display: flex;
    align-items: center;
}
.footerIconsLink {
    color: #fff;
}