.menuContainer {
    background-color: rgb(255, 255, 255);
    display: flex;
    gap: 6rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.33);
    border-radius: 16px;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.6px);
}
.menuItem {
    list-style: none;
    text-align: center;
}
.menuItem:hover{
    -webkit-text-stroke: 1px; 
    transition-timing-function: ease-in-out;
}

.menuLink {
    text-decoration: none;
    color: #52595a;
    font-size: 1.3rem;
}
.logo {
    width: 10em;
}

@media screen and (max-width: 480px) {
    .menuContainer {
        display: flex;
        gap: 9px;
        
}
    .menuLink {
        font-size: 12px;
    }
    .logo {
        width: 100px;
    }
}