.contatoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    background: #efeff3;
}

.faleConoscoContainer {
    display: flex;
    align-items: center;
    padding-top: 50px;
    gap: 10px;
}

.titulo {
    text-align: center;
    color: rgb(123, 122, 122);
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 20px;
}

.formulario {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: [label] auto [input] 1fr;
    width: 50%;
}

input {
    grid-column: input;
    align-self: center;
}

label {
    grid-column: label;
    align-self: center;
}

.botao {
    width: 150px;
    border-radius: 10px;
    font-size: 18px;
    border: 1px solid;
    background-color: #3c93bfd4;
    color: white;
    height: 35px;
}

.contatoLinksContainer {
    display: flex;
    padding: 4em;
    gap:10px;
    background: #efeff3;
    width: 100%;
}

.contatos {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.contatoTelefone {
    color:rgb(123, 122, 122);
}

.contatoInstagram {
    color:rgb(123, 122, 122);
}

.contatoEmail {
    color:rgb(123, 122, 122);
}