.inicioContainer {
    justify-content: center;
    align-items: center;
    gap: 6rem;
    text-align: center;
}

.video {
    padding: 30px;
    border-radius: 40px;
}

.titulo {
    color: rgb(123, 122, 122);
    padding: 20px;
}

.mapContainer {
    display: flex;
    justify-content: center;
    padding: 30px;
}

@media screen and (max-width: 480px) {
    .titulo {
        padding: 13px;
        font-size: 15px;
    }
}