.inicioContainer {
    justify-content: center;
    align-items: center;
    gap: 6rem;
    text-align: center;
}

.video {
    padding: 30px;
    border-radius: 40px;
}

.titulo {
    color: rgb(167 165 165);
    padding: 20px;
    font-size: 25px;
}

.mapContainer {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.video {
    width:600px;
    height:400px;
}

@media screen and (max-width: 480px) {
    .titulo {
        padding: 13px;
        font-size: 15px;
    }

    .video {
        width:400px;
        height:300px;
    }
}