.receberContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 25px;
    background: #efeff3;
}

.formulario {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: [label] auto [input] 1fr;
    width: 50%;
    padding: 20px;
}

input {
    grid-column: input;
    align-self: center;
}

label {
    grid-column: label;
    align-self: center;
}
.botao {
    width: 150px;
    border-radius: 10px;
    font-size: 18px;
    border: 1px solid;
    background-color: #3c93bfd4;
    color: white;
    height: 35px;
    margin-bottom: 20px;
}

.telefone {
    grid-column: input;
    align-self: center;
    width: 120px;
}

.profissao {
    grid-column: input;
    align-self: center;
    width: 120px;
}

.idade {
    grid-column: input;
    align-self: center;
    width: 50px;
}
.titulo {
    color: rgb(123, 122, 122);
    padding-top: 20px;
}

@media screen and (max-width: 480px) {
    .titulo {
        font-size: 15px;
    }

    .formulario {
        display: flex;
        flex-direction: column;
        grid-gap: 5px;
        padding: 10px;
    }
    
    .botao {
        width: 80px;
        font-size: 13px;
    }
}