.sobreContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
    flex-direction: column;
    gap: 35px;
    background-color: #efeff3;
    
}

.sobreParagrafo {
    color: #464646f2;
}

.sobreContainerVoluntarios {
    display: flex;
    align-items: center;
    width: 70%;
}
.imgVoluntarios {
    width: 150px;
    height: 150px;
    border-radius: 100%;
}
.titulo {
    color: rgb(155 149 155);
}

.descricaoVoluntarios {
    color:#464646f2;
}
@media screen and (max-width: 480px) {
    .sobreContainer {
        padding: 20px;
    }
    .sobreParagrafo {
        font-size: 13px;
    }
    .titulo {
        font-size: 20px;
    }
    .imgVoluntarios {
        width: 100px;
        height: 100px;
    }
    .descricaoVoluntarios {
        font-size: 13px;
    }
}